<div class="container" style="margin: 20px; margin-left: 400px;">
    <h2>Employee Form</h2>
    <hr style="width:450px">
    <form #empForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Employee Name</label>
            <div class="col-sm-3">
                <input type="text" name="eName" class="form-control mb-2" [(ngModel)]="employee.eName">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Job</label>
            <div class="col-sm-3">
                <input type="text" name="job" class="form-control mb-2" [(ngModel)]="employee.job">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Hire Date</label>
            <div class="col-sm-3">
                <input type="date" name="hireDate" class="form-control mb-2" [(ngModel)]="employee.hireDate">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Manager Id</label>
            <div class="col-sm-3">
                <input type="text" name="managerId" class="form-control mb-2"
                    [(ngModel)]="employee.managerId">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Salary</label>
            <div class="col-sm-3">
                <input type="text" name="salary" class="form-control mb-2"
                    [(ngModel)]="employee.salary">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Commission</label>
            <div class="col-sm-3">
                <input type="text" name="commission" class="form-control mb-2"
                    [(ngModel)]="employee.commission">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-sm-2 col-form-label">Department No</label>
            <div class="col-sm-3">
                <input type="text" name="deptNo" class="form-control mb-2"
                    [(ngModel)]="employee.deptNo">
            </div>
        </div>
        <button type="submit" class="btn btn-secondary btn-sm mb-3">Save</button>
    </form>
</div>
